<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{login}">Login</title>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/themify-icons.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/pages/login.css}" rel="stylesheet">
</head>
<body>
<form class="form-signin" th:action="@{/login}" method="post">
    <div class="text-center mb-4">
        <img class="mb-4" th:src="@{/resources/images/bootstrap-solid.svg}" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal" th:text="#{login}">Login</h1>
    </div>

    <div class="form-label-group">
        <input type="text"
               id="username"
               class="form-control"
               name="username"
               th:placeholder="#{label.usernameOrEmailAddress}"
               required=""
               autofocus="">
        <label for="username" th:text="#{label.usernameOrEmailAddress}">Email</label>
    </div>

    <div class="form-label-group">
        <input type="password"
               id="inputPassword"
               class="form-control"
               name="password"
               th:placeholder="#{label.password}"
               required="">
        <label for="inputPassword" th:text="#{label.password}">Password</label>
    </div>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> <span th:text="#{label.remember}">Remember me</span>
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{button.login}">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center"> &copy; 2019 - Self Learning</p>
</form>
</body>
</html>