<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
      layout:decorate="~{layouts/dashboard-layout}">
<head>
    <title>Danh sách khoá học</title>
    <!-- PLUGINS STYLES-->

    <!-- THEME STYLES-->
    <link th:href="@{/css/main.min.css}" rel="stylesheet"/>

    <!-- PAGE LEVEL STYLES-->

</head>

<body>
<div layout:fragment="content" class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Khóa học</div>
            <div class="ibox-tools">
                <a class="ibox-collapse">
                    <i class="fa fa-minus"></i>
                </a>
            </div>
        </div>
        <div class="ibox-body">

            <div></div>
            <button class="btn btn-primary">Tạo khóa học</button>
            <table class="table table-sm table-striped table-bordered" ng-show="{{courses}}">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên khoá học</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="course in courses">
                        <td>{{$index}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block layout:fragment="page-level-scripts">
    <!-- PAGE LEVEL SCRIPTS-->
    <script th:src="@{/js/pages/course.js}"></script>
</th:block>
</body>
</html>
