* {
    box-sizing: border-box;
}

.autocomplete {
    position: relative;
}

span::before, span::after, i::before, i::after {
    content: "  ";
    display: inline;
}

.autocomplete-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-style: solid;
    border-color: #1ab7ea;
    border-top: none;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    background-color: #ecf0f1;
    box-shadow: 0px 1px 1px #ecf0f1;
}

.autocomplete-items > div:hover {
    background-color: #0a568c;
    color: #fff;
}