<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
      layout:decorate="~{layouts/dashboard-layout}">
<head>
    <title th:text="#{course-management}">Danh sách khoá học</title>
    <!-- PLUGINS STYLES-->
    <link th:href="@{/css/plugins/summernote.css}" rel="stylesheet"/>
    <!-- THEME STYLES-->
    <link th:href="@{/css/main.min.css}" rel="stylesheet"/>
    <!-- PAGE LEVEL STYLES-->
</head>

<body>
<div layout:fragment="content" class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">
                <a class="text-dark"
                   th:href="@{/admin/management/courses/__${grammarLesson.lessonModule.lesson.course.id}__/lessons}">
                    <i class="fa fa-home"></i>
                    <span th:text="${grammarLesson.lessonModule.lesson.course.name}"></span>
                </a>
                <i class="fa fa-caret-right"></i>
                <span id="grammar-lesson-id"
                      th:text="|Bài ${grammarLesson.lessonModule.lesson.orderNumber}|"
                      th:data-id="${grammarLesson.id}">Bài 1</span>
                <i class="fa fa-caret-right"></i>
                <a class="text-dark"
                   th:href="@{/admin/management/grammar-lessons/__${grammarLesson.id}__}"
                   th:text="${grammarLesson.lessonModule.module.name}">Luyện ngữ pháp</a>
                <i class="fa fa-caret-right"></i>
                <span>Bài trắc nghiệm</span>
            </div>
        </div>
        <div class="ibox-body">
            <div id="alert-container"></div>
            <div class="mb-2"><input type="file" id="quiz-file-input"/></div>
            <button id="upload-quiz-button" class="btn btn-primary">Upload</button>
        </div>
    </div>

    <div class="ibox" th:if="${grammarLesson.questions != null && not #lists.isEmpty(grammarLesson.questions)}">
        <div class="ibox-head">
            <div class="ibox-title">Nội dung bài trắc nghiệm</div>
        </div>
        <div class="ibox-body">
            <div th:each="q, qStat : ${grammarLesson.questions}" class="mb-4">
                <h6 th:text="|${qStat.count}. ${q.question}|"></h6>
                <table class="table table-sm table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Đáp án</th>
                        <th>Nghĩa</th>
                        <th>Giải thích</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="a,aStat : ${q.answers}" th:classappend="${a.rightAnswer? 'bg-success' : ''}">
                        <td class="align-middle" width="20px" th:text="${aStat.count}"></td>
                        <td class="align-middle" width="40%" th:text="${a.answer}"></td>
                        <td class="align-middle" width="20%"
                            th:text="${a.meaning == null || a.meaning == '' ? 'Không có nội dung' : a.meaning}"></td>
                        <td class="align-middle" th:text="${a.explain}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<th:block layout:fragment="page-level-scripts">
    <!-- PAGE LEVEL SCRIPTS-->
    <script th:src="@{/js/services/service.js}"></script>
    <script th:src="@{/js/pages/grammar-lesson-quiz.js}"></script>
</th:block>
</body>
</html>