<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
      layout:decorate="~{layouts/dashboard-layout}">
<head>
    <title th:text="#{course-management}">Danh sách khoá học</title>
    <!-- PLUGINS STYLES-->
    <link th:href="@{/css/plugins/summernote.css}" rel="stylesheet"/>
    <!-- THEME STYLES-->
    <link th:href="@{/css/main.min.css}" rel="stylesheet"/>
    <!-- PAGE LEVEL STYLES-->
</head>

<body>
<div layout:fragment="content" class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">
                <a class="text-dark"
                   th:href="@{/admin/management/courses/__${grammarLesson.lessonModule.lesson.course.id}__/lessons}">
                    <i class="fa fa-home"></i>
                    <span th:text="${grammarLesson.lessonModule.lesson.course.name}"></span>
                </a>
                <i class="fa fa-caret-right"></i>
                <span id="grammar-lesson-id"
                      th:text="|Bài ${grammarLesson.lessonModule.lesson.orderNumber}|"
                      th:data-id="${grammarLesson.id}">Bài 1</span>
                <i class="fa fa-caret-right"></i>
                <span th:text="${grammarLesson.lessonModule.module.name}">Luyện ngữ pháp</span>
                <a th:href="@{/admin/management/grammar-lessons/__${grammarLesson.id}__/quiz}" class="badge badge-danger">Bài tập</a>
            </div>
        </div>
        <div class="ibox-body">
            <div id="alert-container"></div>
            <div class="form-group">
                <label for="grammar-title"><strong>Tên bài học</strong></label>
                <input id="grammar-title" class="form-control" type="text" placeholder="Nhập tên bài học"
                       th:value="${grammarLesson.title}"/>
            </div>
            <div class="form-group">
                <label for="grammar-content"><strong>Nội dung bài học</strong></label>
                <textarea id="grammar-content" class="form-control" rows="5" th:text="${grammarLesson.content}">
                </textarea>
            </div>
            <div class="form-group">
                <button id="save-grammar-lesson-button" class="btn btn-primary">Lưu bài học</button>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="page-level-plugins">
    <!-- PAGE LEVEL SCRIPTS-->
    <script th:src="@{/js/plugins/summernote.min.js}"></script>
</th:block>
<th:block layout:fragment="page-level-scripts">
    <!-- PAGE LEVEL SCRIPTS-->
    <script th:src="@{/js/services/service.js}"></script>
    <script th:src="@{/js/pages/grammar-lesson.js}"></script>
</th:block>
</body>
</html>
