<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
      layout:decorate="~{layouts/dashboard-layout}">
<head>
    <title th:text="#{vocabulary-lesson-management}">Quản lý bài học</title>
    <!-- PLUGINS STYLES-->
    <!-- THEME STYLES-->
    <link th:href="@{/css/main.min.css}" rel="stylesheet"/>
    <!-- PAGE LEVEL STYLES-->
    <link rel="stylesheet" th:href="@{/css/pages/vocabulary-lesson.css}"/>
</head>

<body>
<div layout:fragment="content" class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">
                <a class="text-dark" th:href="@{/admin/management/lessons}"><i class="fa fa-home"></i> <span>Bài học</span></a>
                <i class="fa fa-caret-right"></i>
                <span id="vocabularyLesson"
                      th:text="|Bài ${vocabularyLesson.lessonModule.lesson.orderNumber}|"
                      th:data-id="${vocabularyLesson.id}">Bài 1</span>
                <i class="fa fa-caret-right"></i>
                <span th:text="${vocabularyLesson.lessonModule.module.name}">Luyện từ vựng</span>
            </div>
            <div class="ibox-tools">
                <a class="ibox-collapse">
                    <i class="fa fa-minus"></i>
                </a>
            </div>
        </div>
        <div class="ibox-body">
            <div id="alert-container"></div>
            <div class="form-group autocomplete">
                <label for="vocabularyInput">Từ vựng</label>
                <input id="vocabularyInput" type="text" class="form-control" placeholder="Nhập từ vựng"/>
            </div>
            <div class="form-group autocomplete">
                <label for="sentenceInput">Câu</label>
                <input id="sentenceInput" type="text" class="form-control" placeholder="Nhập câu"/>
            </div>
            <div class="form-group">
                <button id="add-button" class="btn btn-primary">Thêm vào nội dung bài học</button>
            </div>
        </div>
    </div>

    <div class="ibox" id="vocabularyLessonDetailsBox">
        <div class="ibox-head">
            <div class="ibox-title">Danh sách nội dung bài học</div>
            <div class="ibox-tools">
                <a class="ibox-collapse">
                    <i class="fa fa-minus"></i>
                </a>
            </div>
        </div>
        <div class="ibox-body" id="vocabularyDetailItemsContainer">
        </div>
    </div>

    <audio id="audioPlayer" src=""></audio>

    <div class="modal fade" id="delete-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Bạn có muốn xóa bài học từ vựng này không?
                    </h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">
                        <i class="fa fa-close"></i> <span>Đóng</span>
                    </button>
                    <button id="delete-button" type="button" class="btn btn-danger">
                        <i class="fa fa-remove"></i> <span>Đồng ý</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<th:block layout:fragment="page-level-scripts">
    <!-- PAGE LEVEL SCRIPTS-->
    <script th:src="@{/js/service/service.js}"></script>
    <script th:src="@{/js/pages/vocabulary-lesson.js}"></script>
</th:block>
</body>
</html>
